@model List<PI.Models.NegocioModel>;

@{
    Layout = "~/Views/Shared/LayoutPasosAnalisis.cshtml";
}

<!doctype html>
<html>

<head>
        <meta charset="UTF-8">
        <title> Mis negocios </title>
<!-- links -->
        <link rel="stylesheet" href="~/css/negocio/Index.css" />
</head>
<!-- body -->
    <body>

        <div class="card-container">
        <a asp-controller="Negocio" asp-action="FormAgregarNegocio">
            <div class="card card-agregar">
                <img class="boton-agregar" src=Images/agregar-img.svg>
</div>
   </a>
<!-- negocio cards-->
        @foreach (var item in Model)
        {
            <div class="card card-negocio">
                <div class="card-info">
                    <div class="card-nombre"> 
                        <span> @item.Nombre </span></div>
                    <div class="card-tipo">
                        @if (@item.TipoUltimoAnalisis == false)
                        {
                            <span id="tipoNegocio">Emprendimiento</span>
                        }else {
                            <span id="tipoNegocio">En marcha</span>
                        }
                        <div class="inicial-nombre">
                            <span> @item.Nombre[0] </span></div>
                    </div>
                    <a asp-controller="Negocio" asp-action="eliminarNegocio_BD" asp-route-IDNegocio="@item.ID">
                        <div class="trash-container">
                            <div class="trash-can"> <img class="trash-img" src=img/puesto/trashCan.png> </div>
                        </div>
                    </a>
                    <div class="card-analisis"> <span>Cantidad de analisis: @item.Analisis.Count</span> </div>
                    <div class="card-actualizacion"> <span>Fecha de creacion: @item.FechaCreacion.ToString() </span> </div>
                </div>
            </div>
        }
</div>
    </body>
</html>

