@model AnalisisModel
@using PI.Controllers
@using PI.Handlers
@using Microsoft.AspNetCore.Components
@using System.Globalization
@inject NavigationManager NavigationManager;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/LayoutPasosAnalisis.cshtml";
    string getIdNegocio()
    {
        AnalisisHandler analisisHandler = new AnalisisHandler();
        return analisisHandler.obtenerNegocioDeAnalisis(Model.FechaCreacion).ID.ToString();
    }
    string claseCarta = "card card-no-clickeable m-4";
    string claseCirculo = "circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
    string claseLink = "link-no-clikeable";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HoverTexto.css"/>
</head>

@*Encabezado de la pantalla del progreso*@
<body>
    <div class="container">
        <div class="analisis-header row">
            <div class="col-md-1 boton-volver d-flex justify-content-start align-items-center align-content-center">
                <a asp-controller="Analisis" asp-action="MisAnalisis" asp-route-IDNegocio="@getIdNegocio()" class="hovertext" data-hover="Volver a mis análisis">
                    <img src="img/generic/flecha-comparador.png" alt="Botón para volver">
                </a>
            </div>
            <div class="col-md-5">
                <div class="text-white text-center mt-3">
                    <p class="texto-header mb-0 fw-bold">@ViewData["NombreNegocio"]</p>
                    @*Verifica el estado del negocio para mostrarlo en pantalla*@
                    @if (Model.Configuracion.EstadoNegocio == false)
                    {
                        <p class="mb-4">Estado: no iniciado</p>
                    }
                    else
                    {
                        <p class="mb-4">Estado: en marcha</p>
                    }
                </div>
            </div>
            <div class="col-md-5">
                <div class="text-white text-center mt-3">
                    <p class="texto-header mb-0 fw-bold">Fecha de creaci&oacuten</p>
                    <p class="mb-4">@Model.FechaCreacion.ToString("dd/MMM/yyyy",  new CultureInfo("es-Es"))</p>
                </div>
            </div>
        </div>

        @*Sección de las cartas del progreso de análisis*@
        <div class="row mx-5 mt-2">
            <div class="row ml-5 mr-5 text-center">
                <div class="col-md-4 d-flex mb-3 justify-content-center">
                    <div class="card card-clickeable m-4">
                        <a asp-area="" asp-controller="EstructuraOrg" asp-action="Index" asp-route-fecha="@Model.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss.fff")">
                            <div class="m-2">
                                <img src="Images/undraw_mind_map_re_nlb6.svg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <div class="titulo-carta">Estructura Organizativa</div>
                                    <p class="texto-carta card-text">Crea un organigrama de los puestos y salarios de tu negocio.</p>
                                </div>
                                <span class="circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle">1</span>
                            </div>
                        </a>
                    </div>
                </div>
            
                @*Verifica si la estructura organizativa tiene puestos, para desbloquear el siguiente paso (Gastos fijos)*@
                @if (2 <= ViewBag.pasoDisponibleMaximo)
                {
                    claseCarta = "card card-clickeable m-4";
                    claseCirculo = "circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                    claseLink = "";
                }
                <div class="col-md-4 d-flex mb-3 justify-content-center">
                    <div class="@claseCarta">
                        <a class="@claseLink" asp-controller="GastoFijo" asp-action="GastoFijo" asp-route-fecha="@Model.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss.fff")">
                            <div class="m-2">
                                <img src="Images/undraw_payments_re_77x0.svg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <div class="titulo-carta">Gastos Fijos</div>
                                    <p class="texto-carta card-text">Añade los gastos fijos de tu negocio.</p>
                                </div>
                                <span class="@claseCirculo">2</span>
                            </div>
                        </a>
                    </div>
                </div>
                @{
                    claseCarta = "card card-no-clickeable m-4";
                    claseCirculo = "circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                    claseLink = "link-no-clikeable";
                }
                @*Verifica si hay gastos fijos, para desbloquear el siguiente paso (Gastos variables)*@
                @if (3 <= ViewBag.pasoDisponibleMaximo)
                {
                    claseCarta = "card card-clickeable m-4";
                    claseCirculo = "circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                    claseLink = "";
                }
                <div class="col-md-4 d-flex mb-3 justify-content-center">
                    <div class="@claseCarta">
                        <a class="@claseLink" asp-area="" asp-controller="Producto" asp-action="Index" asp-route-fecha="@Model.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss.fff")">
                        <div class="m-2">
                            <img src="Images/undraw_product_teardown_re_m1pc.svg" class="card-img-top" alt="">
                            <div class="card-body">
                                <div class="titulo-carta">Gastos variables</div>
                                <p class="texto-carta card-text">Añade los productos, servicios y componentes de tu negocio.</p>
                            </div>
                            <span class="@claseCirculo">3</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            @{
                claseCarta = "card card-no-clickeable m-4";
                claseCirculo = "circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                claseLink = "link-no-clikeable";
            }
            @*Verifica si hay gastos fijos, para desbloquear el siguiente paso (Gastos variables)*@
            @if (4 <= ViewBag.pasoDisponibleMaximo)
            {
                claseCarta = "card card-clickeable m-4";
                claseCirculo = "circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                claseLink = "";
            }
            <div class="row ml-5 mr-5 text-center">
                <div class="col-md-4 d-flex mb-3 justify-content-center">
                    <div class="@claseCarta">
                        <a class="@claseLink" asp-area="" asp-controller="Rentabilidad" asp-action="Index" asp-route-fecha="@Model.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss.fff")">
                        <div class="m-2">
                            <img src="Images/undraw_site_stats_re_ejgy.svg" class="card-img-top" alt="">
                            <div class="card-body">
                                <div class="titulo-carta">Análisis de rentabilidad</div>
                                <p class="texto-carta card-text">Ingresa tu meta de ganancias mensual y calcula la meta de ventas.</p>
                            </div>
                                <span class="@claseCirculo">4</span>
                        </div>
                        </a>
                    </div>
                </div>


                @{
                    claseCarta = "card card-no-clickeable m-4";
                    claseCirculo = "circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                    claseLink = "link-no-clikeable";
                    string inversionTitleText = "Esta sección está disponible sólo para negocios no iniciados";
                    if (Model.Configuracion.EstadoNegocio == false)
                    {
                        inversionTitleText = "";
                    }
                }

                @*Verifica si el negocio aún no ha iniciado y si se pueda acceder al paso*@
                @if (5 <= ViewBag.pasoDisponibleMaximo && Model.Configuracion.EstadoNegocio == false)
                {
                    claseCarta = "card card-clickeable m-4";
                    claseCirculo = "circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                    claseLink = "";
                } 
                <div class="col-md-4 d-flex mb-3 justify-content-center">
                    <div title="@inversionTitleText">
                        <div class="@claseCarta">
                            <a class="@claseLink" asp-controller="InversionInicial" asp-action="InversionInicial" asp-route-fechaAnalisis="@Model.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss.fff")">
                                <div class="m-2">
                                    <img src="Images/undraw_savings_re_eq4w.svg" class="card-img-top" alt="">
                                        <div class="card-body">
                                        <div class="titulo-carta">Inversión inicial</div>
                                        <p class="texto-carta card-text">Ingresa los gastos iniciales que son necesarios para comenzar el emprendimiento.</p>
                                        </div>
                                    <span class="@claseCirculo">5</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                @{
                    claseCarta = "card card-no-clickeable m-4";
                    claseCirculo = "circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                    claseLink = "link-no-clikeable";
                }

                @if (6 <= ViewBag.pasoDisponibleMaximo)
                {
                    claseCarta = "card card-clickeable m-4";
                    claseCirculo = "circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
                    claseLink = "";
                }
                <div class="col-md-4 d-flex mb-3 justify-content-center">
                    <div class="@claseCarta">
                        <a class="@claseLink">
                            <div class="m-2">
                                <img src="Images/undraw_stepping_up_g6oo.svg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <div class="titulo-carta">Flujo de caja</div>
                                    <p class="texto-carta card-text">Agrega los porcentajes de venta por mes y visualiza los ingresos y egresos a lo largo de un año.</p>
                                </div>
                                <span class="@claseCirculo">6</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>