@model AnalisisModel
@using PI.Controllers

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/LayoutPasosAnalisis.cshtml";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PI.styles.css" asp-append-version="true" />
</head>

@*Encabezado de la pantalla del progreso*@
<body>
    <div class="analisis-header row">
        <div class="col-md-6">
            <div class="text-white text-center mt-3">
                <p class="texto-header mb-0 fw-bold">@ViewData["NombreNegocio"]</p>
                @*Verifica el estado del negocio para mostrarlo en pantalla*@
                @if (Model.Configuracion.TipoNegocio == false)
                {
                    <p class="mb-4">Estado: emprendimiento</p>
                }
                else
                {
                    <p class="mb-4">Estado: ya iniciado</p>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-white text-center mt-3">
                <p class="texto-header mb-0 fw-bold">Fecha de creaci&oacuten</p>
                <p class="mb-4">@Model.FechaCreacion</p>
            </div>
        </div>
    </div>

    @*Sección de las cartas del progreso de análisis*@
    <div class="row mx-5 mt-4">
        <div class="row ml-5 mr-5 text-center">
            <div class="col-md-4 d-flex mb-3 justify-content-center">
                    <div class="card card-clickeable m-4">
                        <a asp-area="" asp-controller="EstructuraOrg" asp-action="Index" asp-route-fecha="@Model.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss.fff")">
                            <div class="m-2">
                                <img src="Images/undraw_mind_map_re_nlb6.svg" class="card-img-top" alt="">
                                <div class="card-body">
                                    <div class="titulo-carta">Estructura Organizativa</div>
                                    <p class="texto-carta card-text">Crea un organigrama de los puestos y salarios de tu negocio.</p>
                                </div>
                                <span class="circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle">1</span>
                            </div>
                        </a>
                    </div>
                </div>
            
            @{
                string claseCarta = "card card-no-clickeable m-4";
                string claseCirculo = "circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
            }

            @*Verifica si la estructura organizativa tiene puestos, para desbloquear el siguiente paso (Gastos fijos)*@
            @if (AnalisisController.hayPuestos(Model))
            {
                claseCarta = "card card-clickeable m-4";
                claseCirculo = "circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
            }
            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="@claseCarta">
                    @if (AnalisisController.hayPuestos(Model))
                    {
                    <a asp-area="" asp-controller="GastoFijo" asp-action="GastoFijo" asp-route-fecha="@Model.FechaCreacion.ToString("yyyy-MM-dd HH:mm:ss.fff")">
                    <div class="m-2">
                        <img src="Images/undraw_payments_re_77x0.svg" class="card-img-top" alt="">
                        <div class="card-body">
                            <div class="titulo-carta">Gastos Fijos</div>
                            <p class="texto-carta card-text">Añade los gastos fijos de tu negocio.</p>
                        </div>
                        <span class="@claseCirculo">2</span>
                    </div>
                    </a>
                    }
                    else {
                        <div class="m-2">
                            <img src="Images/undraw_payments_re_77x0.svg" class="card-img-top" alt="">
                            <div class="card-body">
                                <div class="titulo-carta">Gastos Fijos</div>
                                <p class="texto-carta card-text">Añade los gastos fijos de tu negocio.</p>
                            </div>
                            <span class="@claseCirculo">2</span>
                        </div>
                    }
                </div>
            </div>
            @{
                claseCarta = "card card-no-clickeable m-4";
                claseCirculo = "circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
            }

            @*Verifica si hay gastos fijos, para desbloquear el siguiente paso (Gastos variables)*@
            @if (AnalisisController.contieneGastosFijos(Model))
            {
                claseCarta = "card card-clickeable m-4";
                claseCirculo = "circulo-num position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle";
            }
            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="@claseCarta">
                    <div class="m-2">
                        <img src="Images/undraw_product_teardown_re_m1pc.svg" class="card-img-top" alt="">
                        <div class="card-body">
                            <div class="titulo-carta">Gastos variables</div>
                            <p class="texto-carta card-text">Añade los productos, servicios y componentes de tu negocio.</p>
                        </div>
                        <span class="@claseCirculo">3</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-5 mr-5 text-center">
            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="card card-no-clickeable m-4">
                    <div class="m-2">
                        <img src="Images/undraw_site_stats_re_ejgy.svg" class="card-img-top" alt="">
                        <div class="card-body">
                            <div class="titulo-carta">Análisis de rentabilidad</div>
                            <p class="texto-carta card-text">Ingresa tu meta de ganancias mensual y calcula la meta de ventas.</p>
                        </div>
                        <span class="circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle">4</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="card card-no-clickeable m-4">
                    <div class="m-2">
                        <img src="Images/undraw_savings_re_eq4w.svg" class="card-img-top" alt="">
                        <div class="card-body">
                            <div class="titulo-carta">Inversión inicial</div>
                            <p class="texto-carta card-text">Ingresa los gastos iniciales que son necesarios para comenzar el emprendimiento.</p>
                        </div>
                        <span class="circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle">5</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="card card-no-clickeable m-4">
                    <div class="m-2">
                        <img src="Images/undraw_stepping_up_g6oo.svg" class="card-img-top" alt="">
                        <div class="card-body">
                            <div class="titulo-carta">Flujo de caja</div>
                            <p class="texto-carta card-text">Agrega los porcentajes de venta por mes y visualiza los ingresos y egresos a lo largo de un año.</p>
                        </div>
                        <span class="circulo-num-no-clickeable position-absolute top-100 start-50 translate-middle badge badge-secondary rounded-circle">6</span>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        @*Sección de las cartas de descargar análisis, comparar y visualizar*@
        <div class="row ml-5 mr-5 text-center">
            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="card card-clickeable m-4">
                    <div class="m-2">
                        <div class="titulo-cartas-abajo">Visualizar análisis</div>
                        <img src="Images/ico-visualizar.svg" class="imagenes-verde card-img-top" alt="">
                        <div class="card-body">
                            <p class="texto-carta card-text">Visualice un reporte del análisis más reciente en línea</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="card card-clickeable m-4">
                    <div class="m-2">
                        <div class="titulo-cartas-abajo">Descargar análisis</div>
                        <img src="Images/ico-descargar.svg" class="imagenes-verde card-img-top" alt="">
                        <div class="card-body">
                            <p class="texto-carta card-text">Descargue un reporte del análisis más reciente en formato csv</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex mb-3 justify-content-center">
                <div class="card card-clickeable m-4">
                    <div class="m-2">
                        <div class="titulo-cartas-abajo">Comparar análisis</div>
                        <img src="Images/ico-comparar.svg" class="imagenes-verde card-img-top" alt="">
                        <div class="card-body">
                            <p class="texto-carta card-text">Compare todos los análisis creados hasta el momento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>