@using PI.Models
@using PI.Handlers

<div id="mostrar-puestos">
    @htmlPuestos
    <PuestoParcialView puesto="@test"></PuestoParcialView>
</div>


@if (!primerPuestoAgreado) {
    <div id="@cssId" @onmouseover="@Hover" @onmouseout="@HoverOut" @onclick="@AgregarPrimerPuestro">
        <a><img style="@styleHover" src=" @imgAgregarPath" alt="">@hoverText</a>
    </div>
}

@code {
    PuestoModel test = new PuestoModel
    {
        Nombre = "test1",
        SalarioBruto = 45M,
        SalarioNeto = 10M
    };

    string imgAgregarPath = "img/estructuraOrg/addPrimerPuesto.png";
    string hoverText = "";
    string styleHover = "";
    string cssId = "agregar-primer-puesto";
    bool primerPuestoAgreado = false;
    MarkupString htmlPuestos;
    string htmlPuestosStr = "";

    List<PuestoModel> PuestoAgregados = new List<PuestoModel>();

    public void Hover(MouseEventArgs mouseEvent)
    {
        cssId = "agregar-primer-puesto-hover";
        imgAgregarPath = "";
        hoverText = "Agregar Puesto";
    }
    public void HoverOut(MouseEventArgs mouseEvent)
    {
        styleHover = "";
        cssId = "agregar-primer-puesto";
        imgAgregarPath = "img/estructuraOrg/addPrimerPuesto.png";
        hoverText = "";
    }

    public void AgregarPrimerPuestro(MouseEventArgs mouseEvent)
    {
        primerPuestoAgreado = true;
        htmlPuestosStr += "<p>Som text</p><PuestoParcialView puesto=\"@test\"></PuestoParcialView>";
        var html = Markdig.Markdown.ToHtml(htmlPuestosStr);
        htmlPuestos = new MarkupString(html);
    }
}

